<div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h3>Welcome Back!!!</h3>
        <p class="error" *ngIf="loginError">{{loginError}}</p>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="email" matInput formControlName="username">
              <mat-error *ngIf="username?.hasError('email')">Please enter a valid email address</mat-error>
            
              <mat-error *ngIf="username?.hasError('required')">Username is <strong>required</strong></mat-error>
          </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
              <mat-error *ngIf="password?.hasError('required')">Password is <strong>required</strong></mat-error>
          </mat-form-field>

          <button [disabled]="loginForm.invalid" mat-flat-button>Login</button>
    </form>
</div>